test_dir    =    'ibm_db_tests'        # Location of testsuite file (relative to current directory) (Don't change this.)

database    =    'sample'    # Database to connect to. Please use an empty database for best results.

import sys, os, platform
if sys.platform != 'zos':
    user        =    'db2inst1'    # User ID to connect with
    password    =    'password'    # Password for given User ID
    hostname    =    'localhost'    # Hostname
    port        =    50000        # Port Number
else:
    database = "DSN=%s%s" % (platform.node(), os.getenv("SUBSYSTEM"))
    user	=	os.getenv('USER')	# User ID to connect with
    try:
        with open("%s/.password" % os.getenv('HOME'), "r") as pwd:
            password=	pwd.read().rstrip()	# Password for given User ID
    except Exception:
        if os.getenv("DSNAOINI").endswith("RRSAF"):
            print("If you use RRSAF, please create the file ~/.password, and tag it, and run: chmod 600 ~/.password")
            print("Also, consider deleting ~/.password after testing is completed.")
        else:
            user     = None
            password = None
    hostname	=	None   #'localhost'	# Hostname
    port	=	None   #50000		# Port Number

auth_user   =    'auth_user'    # Authentic user of Database
auth_pass   =    'auth_pass'    # Password for Authentic user
tc_user     =    'tc_user'    # Trusted user
tc_pass     =    'tc_pass'    # Password to trusted user
