__pycache__/
build
clidriver
dist
ibm_db.egg-info
*.pyc
config.py
libdsnao64c.*
*~
*.out
*.err
*.rej
*.summary
DD:DSNAOTRC
odbc_appl_trace
odbc_diag_trace
odbc_trace_control
tests/*_out.jpg
tests/*_out.png
